@import './variables.scss';

a {
  color: inherit;
  text-decoration: none;
  cursor: default;
}

h2, h3 {
  font-family: $secondary-font;
  font-size: 2rem;
  font-weight: 600;
  color: $white;
  margin: 0;
  letter-spacing: 1rem;
}

.Header {
  margin: 3rem;
  width: fit-content;
  cursor: default;

  h1 {
    color: $white;
    font-size: 6rem;
    margin: 0;
  }
  
  h2 {
    color: $orange;
  }

  .links {
    @include flex-center;
    
    i {
      color: $orange;
      font-size: 3rem;
      margin: 1rem;
      cursor: pointer;
    }
  } 
}

.Menu {
  position: absolute;
  bottom: 1rem;
  left: 2rem;

  .underline::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: $orange;
  }

  h2, h3 {
    padding-bottom: 0.25rem;
    position: relative;
    cursor: pointer;
    width: fit-content;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 3px;
      background-color: $orange;
      transition: width 250ms ease-out;
    }

    &:hover::before {
      width: 100%;
    }
  }

  h2 {
    margin: 1rem;
  }

  h3 {
    font-size: 1.5rem;
    margin: 1rem 1rem 1rem 3rem;
  }
}

.modal {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  background-color: $green;
  width: 50%;
  height: 50%;
  box-shadow: 1rem 1rem $orange;
  padding: 2rem
}

.badge {
  background-color: $orange;
  width: fit-content;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: $white;
  cursor: default;
}

.About {
  @include flex-center;
  flex-direction: row;
  height: 100%;
  width: 100%;

  .photo {
    object-fit: cover;
    width: 50%;
    height: 100%;
  }

  .bio {
    width: 50%;
    height: 100%;
    font-size: 1.25rem;
    color: $white;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      margin: 0;
      text-align: end;
    }
  }
}

.nav-btns {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $orange;
  font-size: 2rem;
  width: calc(100% - 4rem);
  height: 100%;
  
  i {
    opacity: 0.7;
    transition-duration: 200ms;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.Projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-position: center !important;
  background-size: cover !important;

  .text {
    color: $white;
    font-weight: bold;

    h4, p, a {
      margin: 0;
      color: inherit;
      text-decoration: none;
      z-index: 1;
    }

    a:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    h4 {
      font-size: 2rem;
    }

    .title {
      font-family: $secondary-font;
      margin: 2rem;

      .links {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    .description {
      font-size: 1.5rem;
      margin: 2rem
    }
  }

  .techstack {
    @include flex-center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 2rem 2rem 2rem;

    .badge {
      opacity: 0.7;
      transition-duration: 200ms;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.Contact {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  h2 {
    font-family: $primary-font;
    margin-bottom: 1rem;
    font-weight: bold;
    letter-spacing: normal;
  }

  form {
    display: flex;
    flex-direction: column;
    height: 100%;

    input, textarea {
      margin-bottom: 1rem;
      font-family: $primary-font;
      background-color: $black;
      color: $white;
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      border: 0;
    }

    textarea {
      height: 100%;
      resize: none;
    }

    input {
      height: 3rem;
    }

    input::placeholder, textarea::placeholder {
      font-family: $primary-font;
    }

    input:focus, textarea:focus {
      outline-color: $orange;
    }
  }

  .badge {
    align-self: flex-end;
    cursor: pointer;
    transition-duration: 200ms;

    &:active {
      filter: brightness(70%);
    }

    &:hover {
      border-radius: 30px;
    }
  }

  .thanks {
    color: $white;
    font-size: 2rem;
    font-weight: bold;
  }
}