@import './variables.scss';

a {
  color: inherit;
  text-decoration: none;
  cursor: default;
}

h2, h3 {
  font-family: $secondary-font;
  font-size: 2rem;
  font-weight: 600;
  color: $white;
  margin: 0;
  letter-spacing: 1rem;
}

.Header {
  margin: 3rem;
  cursor: default;
  width: fit-content;

  h1 {
    position: relative;
    color: $white;
    font-size: 6rem;
    margin: 0;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 7rem;
      background-color: $white;
      animation: show 1400ms ease-in-out forwards;

      @keyframes show {
        100% {
          width: 0%;
        }
      }
    }
  }
  
  h2 {
    position: relative;
    color: $orange;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2rem;
      background-color: $orange;
      animation: show 1300ms ease-in-out forwards;

      @keyframes show {
        100% {
          width: 0%;
        }
      }
    }
  }

  .links {
    @include flex-center;
    
    i {
      color: $orange;
      font-size: 3rem;
      margin: 1rem;
      cursor: pointer;
    }
  }
  
  a {
    cursor: pointer;
    align-self: center;
    color: $black;
  }
}

.Menu {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  z-index: 3;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: $orange;
    z-index: 1;
    animation: show 900ms ease-in-out forwards;
  }

  .underline::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: $orange;
  }

  .fa-burger {
    display: none;
    color: $orange;
    font-size: 3rem;
  }

  h2 {
    padding-bottom: 0.25rem;
    position: relative;
    cursor: pointer;
    width: fit-content;
    margin: 1rem;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 3px;
      background-color: $orange;
      transition: width 250ms ease-out;
    }

    &:hover::before {
      width: 100%;
    }
  }

  .highlight::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background-color: $orange;
    z-index: -1;
  }

  h3 {
    position: relative;
    font-size: 1.5rem;
    width: fit-content;
    margin: 1rem 1rem 1rem 3rem;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2rem;
      background-color: $orange;
      z-index: -1;
      transition: width 250ms ease-out;
    }
  
    &:hover::before {
      width: 100%;
    }
  }
}

.Welcome {
  @include flex-center;
  gap: 1rem;
  position: absolute;
  background-color: $green;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  animation: slide-up 800ms ease-in forwards;
  overflow: hidden;

  div {
    @include flex-center;
    margin: 1rem;

    h1 {
      width: fit-content;
      text-align: center;
    }
  }

  @keyframes slide-up {
    60% {
      height: 100%;
    }
    100% {
      height: 0;
    }
  }

  i {
    color: $orange;
    font-size: 5rem;
  }

  h1 {
    color: $white;
    font-size: 4rem;
  }
}

.modal {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  background-color: $green;
  width: 50%;
  height: 50%;
  box-shadow: 1rem 1rem $orange;
  padding: 2rem;
}

.curtain {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  background-color: $green;
  padding: 2rem;
  width: 50%;
  height: 50%;
  z-index: 2;
  animation: curtain 750ms ease-out forwards;

  @keyframes curtain {
    0% {
      width: 0%;
    }

    25% {
      width: 50%;
    }

    75% {
      width: 50%;
    }

    100% {
      width: 0%;
    }
  }
}

.badge {
  background-color: $orange;
  width: fit-content;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: $white;
  cursor: default;
}

.About {
  @include flex-center;
  flex-direction: row;
  height: 100%;
  width: 100%;

  img {
    object-fit: cover;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition-duration: 200ms;
  }

  .bio {
    width: 50%;
    height: 100%;
    font-size: 1.25rem;
    color: $white;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      margin: 0;
      text-align: end;
    }
  }
}

.Projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-position: center !important;
  background-size: cover !important;

  .text {
    color: $white;
    font-weight: bold;

    h4, p, a {
      margin: 0;
      color: inherit;
      text-decoration: none;
      z-index: 1;
    }

    a:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    h4 {
      font-size: 2rem;
    }

    .title {
      font-family: $secondary-font;
      margin: 2rem;

      .links {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    .description {
      font-size: 1.5rem;
      margin: 2rem
    }
  }

  .techstack {
    @include flex-center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 2rem 2rem 2rem;

    .badge {
      opacity: 0.7;
      transition-duration: 200ms;
      z-index: 0;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.nav-btns {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $orange;
  font-size: 2rem;
  width: calc(100% - 4rem);
  height: 100%;
  
  i {
    opacity: 0.7;
    transition-duration: 200ms;
    cursor: pointer;

    &:hover {
      opacity: 1;
      font-size: 2.5rem;
    }

    &:active {
      font-size: 2rem;
    }
  }
}

.Contact {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  h2 {
    font-family: $primary-font;
    margin-bottom: 1rem;
    font-weight: bold;
    letter-spacing: normal;
    
    a {
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    height: 100%;

    input, textarea {
      margin-bottom: 1rem;
      font-family: $primary-font;
      background-color: $black;
      color: $white;
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      border: 0;
    }

    textarea {
      height: 100%;
      resize: none;
    }

    input {
      height: 3rem;
    }

    input::placeholder, textarea::placeholder {
      font-family: $primary-font;
    }

    input:focus, textarea:focus {
      outline-color: $orange;
    }
  }

  .badge {
    align-self: flex-end;
    cursor: pointer;
    transition-duration: 200ms;

    &:active {
      filter: brightness(70%);
    }

    &:hover {
      border-radius: 30px;
    }
  }

  .thanks {
    color: $white;
    font-size: 2rem;
    font-weight: bold;
  }
}

@media (max-width: 900px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .Header {
    margin: 2rem 0 0 0;

    .links {
      justify-content: center;
    }

    h1 {
      font-size: 10vw;
      text-align: center;
    }
    
    h2 {
      text-align: center;
      font-size: 4vw;
      letter-spacing: 1vw;
    }
  }

  .fa-burger {
    display: block !important;
    position: fixed;
    opacity: 60%;
    bottom: 2rem;
    left: 2rem;
    transition-duration: 200ms;

    &:hover {
      opacity: 100%;
    }
  }

  .Menu {
    position: fixed;
    bottom: 6rem;
    left: 1rem;
    background-color: rgba(23, 27, 33, 0.7);

    .menu-items {
      display: none;

      h2 {
        font-size: 1.75rem;
      }

      h3 {
        font-size: 1.25rem;
      }
    }
  }

  .modal {
    position: static;
    width: 100%;
    height: 100%;
    box-shadow: none;
    padding: 0;
  }

  .About {
    flex-direction: column;
    justify-content: flex-start;

    img {
      object-fit: cover;
      width: 50%;
      height: auto;
      border: solid 3px $white;
      border-radius: 50%;
      object-position: bottom;
      margin: 2rem;
    }

    .bio {
      display: flex;
      justify-content: space-between;
      width: 90%;
      height: auto;
      margin: 1rem;

      div {
        margin-bottom: 2rem;
      }
    }
  }

  .nav-btns {
    width: 100%;
    height: 70%;
  }

  .Contact {
    h2 {
      margin: 1rem;
    }

    form {
      margin: 0 1rem 0 1rem;
    }

    .badge {
      margin: 0 1rem 1rem 1rem;
    }
  }

  .curtain {
    // display: none;
  }
}