@import './variables.scss';

h2, h3 {
  font-family: $secondary-font;
  font-size: 2rem;
  font-weight: 600;
  color: $white;
  margin: 0;
  letter-spacing: 1rem;
}

.Header {
  margin: 3rem;
  width: fit-content;

  h1 {
    color: $white;
    font-size: 6rem;
    margin: 0;
  }
  
  h2 {
    color: $orange;
  }

  .links {
    @include flex-center;
    
    i {
      color: $orange;
      font-size: 3rem;
      margin: 1rem;
    }
  } 
}

.Menu {
  position: absolute;
  bottom: 1rem;
  left: 2rem;

  h2 {
    margin: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }

  h3 {
    font-size: 1.5rem;
    margin: 1rem 1rem 1rem 3rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.modal {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  background-color: $green;
  width: 50%;
  height: 50%;
  box-shadow: 1rem 1rem $orange;
  padding: 2rem
}

.badge {
  background-color: $orange;
  width: fit-content;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: $white;
}

.About {
  @include flex-center;
  flex-direction: row;
  height: 100%;
  width: 100%;

  .photo {
    object-fit: cover;
    width: 50%;
    height: 100%;
  }

  .bio {
    width: 50%;
    height: 100%;
    font-size: 1.25rem;
    color: $white;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      margin: 0;
      text-align: end;
    }
  }
}

.Projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    #000000b3, 
    #000000b3
  ), url("https://i.imgur.com/kZwhgMa.png");
  background-position: center;
  background-size: cover;

  .text {
    color: $white;
    font-weight: bold;

    h4, p {
      margin: 0;
    }

    h4 {
      font-size: 2rem;
    }

    .title {
      font-family: $secondary-font;
      margin: 2rem;

      .links {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    .description {
      font-size: 1.5rem;
      margin: 2rem
    }
  }

  .techstack {
    @include flex-center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem;

    .badge {
      opacity: 0.7;
      transition-duration: 200ms;

      &:hover {
        opacity: 1;
      }
    }
  }
}