@import './variables.scss';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $black;
  font-family: $primary-font;
}

@media (max-width: 900px) {
  body {
    height: 100vh;
  }
  
  #root {
    height: 100%;
  }
}
